



#form236944131 {
	[data-input-lid="1534434209351"] {
		label.t-img-select__control:nth-child(2) {
			width: 320px;
			.t-bgimg {
				width: 320px;
				background-size: cover;
				background-repeat: no-repeat;
				padding-bottom: 0;
				height: 240px;
				background-position: right;
			}
		}		
	}
}

