

// Квиз на Тильде


/* Квиз "Работа будущего" */
#rec236944131 {
	.t862 { // компонент квиза
		.t-popup__container { // квиз в попапе
			height: 77vh;
			overflow: auto;
			.t862__wrapper {
				min-height: auto !important;
				.t862__quiz-form-wrapper { // обертка формы квиза
					min-height: auto !important;
					#form236944131 { // форма квиза
						.t-input-group { // обертка шагов формы
							min-height: auto !important;
							&[data-input-lid="1534434209351"] { // идентификатор шага формы
								label.t-img-select__control { width: 16vw; }
								label.t-img-select__control:nth-child(2) {
									width: 29vw;
									.t-bgimg {	
										padding-bottom: 16vw;
										background-size: cover;
										background-position: right;
										background-repeat: no-repeat;
									}
								}		
							}
							&[data-input-lid="1534434222621"] {
								.t-checkbox__control {
									width: 49%;
									display: inline-flex;
									margin-top: 5px;
									margin-bottom: 5px;
									width: 49%;
									display: inline-flex;
									font-size: 11px;
									font-weight: 600;
								}
							}
						}
					}		
				}
				.t862__btn-wrapper { // слой кнопок линейной навигации
					bottom: auto;
					position: relative;
				}			
			}				
		}	
	}
}